# 5.1 PRINT

#### Print adalah perintah yang digunakan untuk mencetak kata yang ada di dalam tanda petik

#### cara penggunaan: print("...")

In [1]:
print("namaku adalah surya")

namaku adalah surya

In [2]:
print("123456")

123456

In [3]:
panjang = 30
lebar = 20
print(panjang*lebar)

600

In [6]:
prodi = "Matematika "
Fakultas = "MIPA "
Universitas = "Universitas Udayana "
print(prodi + Fakultas + Universitas)

Matematika MIPA Universitas Udayana

# 5.2 INPUT

#### Digunakan untuk meminta informasi dari pengguna (yang menjalankan program)
#### cara penggunaan: input("...")

In [8]:
nama = input("siapakah nama anda? ")
print("Hallo " + nama + " salam kenal" )

siapakah nama anda? surya
Hallo surya salam kenal

# 5.3 TIPE DATA

#### int = bilangan bulat
#### float = bilangan desimal
#### str = huruf
#### bool = True False

#### cara mengetahui tipe data: type(variabel)

In [11]:
alas= input("panjang alas segitiga adalah ")
tinggi = input("tinggi segitiga adalah ")
luas = float(alas)* float(tinggi)
print("luas segiitiga adalah " + str(luas))

panjang alas segitiga adalah 6
tinggi segitiga adalah 5
luas segiitiga adalah 30.0

# 5.4 FORMATTED STRING

#### Untuk mempermudah penulisan nilai variabel yang ingin dicetak pada perintah print
#### penulisan:print(f"{variabel})

In [13]:
nama = "surya"
print(f"{nama}")

surya

# 5.5 STRINGS INDEX

#### Variabel string dapat diurutkan dengn huruf yang dimulai dengan 0.
#### uniknya di phyton huruf terakhir adalah -1, 2 dari terakhir -2 dan seterusnya
#### penggunaan: print(variabel[urutan huruf:urutan huruf])

In [15]:
nama = "I GEDE SURYA WIRAWAN"

print(nama[0:-1])
print(nama[4:8])
print(nama[6:-7])

I GEDE SURYA WIRAWA
DE S
 SURYA

# 5.6 STRINGS METHOD

#### Beberapa methoda yang digunakan pada variabel berjenis string
#### variabel.upper()                                 : membuat huruf besar semua
#### variabel.lower()                                 : membuat hutruf kecil semua
#### variabel.find(item)                              : melihat dimana letak huruf pertama dari item (dimulai dari 0)
#### variabel replace('item sebelum , item sesuadah') : mengganti kata dalam variabel
#### print('item' in variabel)                        : mengecek apakah benar item ada di variabel (outout True or False)

In [3]:
nama= "I Gede Surya Wirawan"

nama.upper()

'I GEDE SURYA WIRAWAN'

In [4]:
nama.lower()

'i gede surya wirawan'

In [7]:
nama.find('Surya')

7

In [8]:
nama.find('Wirawan')

13

In [13]:
nama.replace('Gede' , 'Wayan')

'I Wayan Surya Wirawan'

In [17]:
print('Surya' in nama)

True

In [18]:
print('surya' in nama)
print('SURYA'in nama)

False
False

# 5.7 OPERASI MATEMATIKA DI PHYTON

#### Penjumlahan  : (x+y)
#### Pengurangan  : (x-y)
#### perkalian    : (x*y)
#### Pembagian    : (x/y)
#### pembulatan pembagian : (x//y)
#### modulo               : (x%y)
#### pemangkatan          : (x**y)
#### augmanted operator   : contoh : x+=1 yang artinya x=x+1

In [19]:
print(7+7)
print(9-3)
print(8*6)
print(6/2)
print(9//4)
print(9%5)

x=5
print(x)
x-=3
print(x)

14
6
48
3.0
2
4
5
2

# 5.8 OPERATOR PERBANDINGAN

#### Output berupa True or False

#### lebih dari  : x = a>b
#### kurang dari : x = a<b
#### lebih dari sama dengan : x = a>=b
#### kurang dari sama dengan : x= a<=b
#### sama dengan : x = a==b
#### tidak sama dengan : x = a!=b

In [22]:
x = 5>4
print(x)
y = 7>10
print(y)

True
False

In [23]:
x = 5<4
print(x)
y = 7<10
print(y)

False
True

In [25]:
x = 5>=4
print(x)
y = 10>=10
print(y)
z = 7>=10
print(z)

True
True
False

In [32]:
x = 5<=4
print(x)
y = 10<=10
print(y)
z = 7<=10
print(z)

False
True
True

In [33]:
x = 5==4
print(x)
y = 10==10
print(y)
z = 7==10
print(z)

False
True
False

In [34]:
x = 5!=4
print(x)
y = 10!=10
print(y)
z = 7!=10
print(z)

True
False
True

# 5.9 OPERATOR LOGIKA

#### Operator logika antara lain: and, or dan not. outputnya berupa True or False

In [29]:
Matkul = 7
SKS = 19
print(Matkul>3 and SKS>17)
print(Matkul<3 and SKS>17)
print(Matkul<3 and SKS<17)

True
False
False

In [30]:
Matkul = 7
SKS = 19
print(Matkul>3 or SKS>17)
print(Matkul<3 or SKS>17)
print(Matkul<3 or SKS<17)

True
True
False

In [31]:
Matkul = 7
SKS = 19
print(not(Matkul>3 and SKS>17))
print(not(Matkul<3 and SKS>17))
print(not(Matkul<3 and SKS<17))

False
True
True

# 5.10 OPERASI if & else

#### Operator if akan dijalankan bila variabel nilainya True, sedangkan jika False tidak akan dijalankan
#### Operator else dijalankan ketika variabel bernilai False
#### ketika menggunakan else kemudian diiikuti if dapat memakai elif

In [49]:
waktu = float(input("Berapa jam anda tidur sehari? "))
if waktu<=6:
    print("waktu tidur anda kurang, lebih banyakalah beristirahat")
elif waktu>6 and waktu<=9:
    print("anda sudah tidur dengan cukup")
elif waktu>9 and waktu<=24:
    print("anda terlalu banyak tidur")
else:
    print("masukkan data dengan benar")

Berapa jam anda tidur sehari? 6
waktu tidur anda kurang, lebih banyakalah beristirahat

## 
## Latihan
#### Buatlah program yang merubah tinggi badan seseorang dari cm ke inci atau sebaliknya

#### dari cm ke inci

In [1]:
tinggi = int(input("Tinggi badan anda (dalam satuan cm) adalah "))
TINGGI = float(tinggi*0.3937)
print("tinggi badan anda adalah " + str(TINGGI) + " inci")

Tinggi badan anda (dalam satuan cm) adalah 155
tinggi badan anda adalah 61.0235 inci

#### dari inci ke cm

In [2]:
tinggi = float(input("Tinggi badan anda (dalam satuan inci) adalah "))
TINGGI = float(tinggi*2.54)
print("tinggi badan anda adalah " + str(TINGGI) + " cm")

Tinggi badan anda (dalam satuan inci) adalah 50
tinggi badan anda adalah 127.0 cm

# 5.11 WHILE LOOP
#### While loop selalu dieksekusi ketika variabel bernilai True dan berhenti ketika False

In [1]:
a=0
while a<10:
    print("angka " + str(a) + " lebih kecil dari 10")
    a+=1

angka 0 lebih kecil dari 10
angka 1 lebih kecil dari 10
angka 2 lebih kecil dari 10
angka 3 lebih kecil dari 10
angka 4 lebih kecil dari 10
angka 5 lebih kecil dari 10
angka 6 lebih kecil dari 10
angka 7 lebih kecil dari 10
angka 8 lebih kecil dari 10
angka 9 lebih kecil dari 10

In [2]:
a=1
while a<10:
    print(a*"*")
    a+=1

*
**
***
****
*****
******
*******
********
*********